
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自定义滚动条js插件TrueScrollBar www.bootstrapmb.com</title>
    <link rel="stylesheet" href="assets/style.css">
   
    <link rel="stylesheet" href="assets/TrueScrollBar.min.css">

</head>

<body>
    
    <h1 style="margin-top:150px;text-align:center">自定义滚动条js插件TrueScrollBar</h1>
    <div class="block">
        <div class="container cs">
            <div class="col col-sm">
                <h1>.scroll</h1>
            </div>
            <div class="col scroll">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorem odit sint sapiente
                    aspernatur ipsam iste nulla dolor nam. Nam quibusdam, dicta magni, aliquid, officia cum
                    corrupti temporibus a maxime perferendis ratione ad omnis! Minima vero ullam accusamus
                    eveniet adipisci, cumque, dolores aut magnam quam iure reprehenderit suscipit animi natus?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorem odit sint sapiente
                    aspernatur ipsam iste nulla dolor nam. Nam quibusdam, dicta magni, aliquid, officia cum
                    corrupti temporibus a maxime perferendis ratione ad omnis! Minima vero ullam accusamus
                    eveniet adipisci, cumque, dolores aut magnam quam iure reprehenderit suscipit animi natus?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorem odit sint sapiente
                    aspernatur ipsam iste nulla dolor nam. Nam quibusdam, dicta magni, aliquid, officia cum
                    corrupti temporibus a maxime perferendis ratione ad omnis! Minima vero ullam accusamus
                    eveniet adipisci, cumque, dolores aut magnam quam iure reprehenderit suscipit animi natus?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorem odit sint sapiente
                    aspernatur ipsam iste nulla dolor nam. Nam quibusdam, dicta magni, aliquid, officia cum
                    corrupti temporibus a maxime perferendis ratione ad omnis! Minima vero ullam accusamus
                    eveniet adipisci, cumque, dolores aut magnam quam iure reprehenderit suscipit animi natus?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorem odit sint sapiente
                    aspernatur ipsam iste nulla dolor nam. Nam quibusdam, dicta magni, aliquid, officia cum
                    corrupti temporibus a maxime perferendis ratione ad omnis! Minima vero ullam accusamus
                    eveniet adipisci, cumque, dolores aut magnam quam iure reprehenderit suscipit animi natus?
                </p>
            </div>
        </div>
    </div>

    <div class="block dark">
        <div class="container cs">
            <div class="col col-sm">
                <h1>.scroll</h1>
            </div>
            <div class="col scroll">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorem odit sint sapiente
                    aspernatur ipsam iste nulla dolor nam. Nam quibusdam, dicta magni, aliquid, officia cum
                    corrupti temporibus a maxime perferendis ratione ad omnis! Minima vero ullam accusamus
                    eveniet adipisci, cumque, dolores aut magnam quam iure reprehenderit suscipit animi natus?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorem odit sint sapiente
                    aspernatur ipsam iste nulla dolor nam. Nam quibusdam, dicta magni, aliquid, officia cum
                    corrupti temporibus a maxime perferendis ratione ad omnis! Minima vero ullam accusamus
                    eveniet adipisci, cumque, dolores aut magnam quam iure reprehenderit suscipit animi natus?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorem odit sint sapiente
                    aspernatur ipsam iste nulla dolor nam. Nam quibusdam, dicta magni, aliquid, officia cum
                    corrupti temporibus a maxime perferendis ratione ad omnis! Minima vero ullam accusamus
                    eveniet adipisci, cumque, dolores aut magnam quam iure reprehenderit suscipit animi natus?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorem odit sint sapiente
                    aspernatur ipsam iste nulla dolor nam. Nam quibusdam, dicta magni, aliquid, officia cum
                    corrupti temporibus a maxime perferendis ratione ad omnis! Minima vero ullam accusamus
                    eveniet adipisci, cumque, dolores aut magnam quam iure reprehenderit suscipit animi natus?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorem odit sint sapiente
                    aspernatur ipsam iste nulla dolor nam. Nam quibusdam, dicta magni, aliquid, officia cum
                    corrupti temporibus a maxime perferendis ratione ad omnis! Minima vero ullam accusamus
                    eveniet adipisci, cumque, dolores aut magnam quam iure reprehenderit suscipit animi natus?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorem odit sint sapiente
                    aspernatur ipsam iste nulla dolor nam. Nam quibusdam, dicta magni, aliquid, officia cum
                    corrupti temporibus a maxime perferendis ratione ad omnis! Minima vero ullam accusamus
                    eveniet adipisci, cumque, dolores aut magnam quam iure reprehenderit suscipit animi natus?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorem odit sint sapiente
                    aspernatur ipsam iste nulla dolor nam. Nam quibusdam, dicta magni, aliquid, officia cum
                    corrupti temporibus a maxime perferendis ratione ad omnis! Minima vero ullam accusamus
                    eveniet adipisci, cumque, dolores aut magnam quam iure reprehenderit suscipit animi natus?
                </p>
            </div>
        </div>
    </div>
    <script src="assets/TrueScrollBar.min.js"></script>

    <script>
        document.querySelectorAll('.scroll').forEach(el => {
            new TrueScrollBar(el)
        })
        new TrueScrollBar(document.body, {
            takeMarkup: true,
            desktopOnly: true
            // rtl: true
        })
    </script>
</body> 
</html>
